/*needed to vertically center navbar-btn elements default is 15 so they appear too high*/

.component-container {
	font-family: tahoma;
	font-size: 1.1em;
	margin: 0;
	padding-top: 75px;
}

.navbar button {
 margin-top: 22px;
}

/*found in bootstrap.css:*/

/*.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}*/

/*for zebra stripe in table*/
.odd {
//	 background-color: #f9f9f9;
	 background-color: #e9e9e9;
}

/*table column styles*/

.jha-detail-table {
	font-size: .8em;
}

.jha-left {
	text-align: left;
}

.jha-left-bold {
	text-align: left;
	font-weight: bold;
}

.jha-right-bold {
	text-align: right;
	font-weight: bold;
}

.jha-text {
	text-align: left;
}

.jha-date {
	text-align: center;
}

.jha-money {
	text-align: right;
}

.jha-comment {
	text-align: left;
	color: blue;
}
